/* stylelint-disable plugin/no-unsupported-browser-features */
@color: var(--bs-body-color);
@button-size: 19px;
@button-size-small: 12px;
@button-size-large: 32px;
@icon-small: @button-size-large;
@icon-large: 70px;
@primary-color: var(--accent-color-base, #36c);
@secondary-color: #F1F3F9;
@grey: #F4F4F4;
@link-color: #120CC2;
@spacing-s: 10px;
@spacing-xs: 4px;
@spacing-md: 15px;
@header-height: 92px;
@line-height: 21px;
@circle-size: 9px;
@circle: radial-gradient(circle, @primary-color floor(@circle-size / 2), transparent floor(@circle-size / 2) + 1);
@error-color-fg: var(--color-base, #202122);
@error-color-bg: var(--background-color-error-subtle, #ffe9e5);
@error-color-border: var(--border-color-error, #f54739);
@warning-color-fg: var(--color-base, #202122);
@warning-color-bg: var(--background-color-warning-subtle, #fdf2d5 );
@info-color-bg: #fff3cd;
@navbar-height: var(--navbar-primary-height, 1px );
@chatbot-top-padding: calc(120px ~'+' @navbar-height);
@chatbot-button-inactive: var(--background-color-neutral, #eaecf0 );
@chatbot-button-attention: var(--color-icon-success, #099979);
@chatbot-button-active: var(--background-color-progressive-subtle, #f1f4fd );
@chatbot-header-fg-color: var(--color-base, #202122 );
@chatbot-header-bg-color: var(--background-color-neutral, #eaecf0 );
@chatbot-input-bg-color: var( --background-color-interactive-subtle, #f8f9fa );
@chatbot-text-color: var( --color-base, #202122 );
@import 'mediawiki.skin.variables.less';

.cdx-css-icon--close {
	.cdx-mixin-css-icon( @cdx-icon-close, @param-is-button-icon: true );
}

body.chat-medium-content-wrapper {
	width: 50%;

	#wrapper {
		padding-left: 0;
		padding-right: 0;
	}

	#chat.medium {
		position: fixed;
		top: @navbar-height;
		right: 0;
		height: calc( 100vh - @navbar-height );
		width: 50%;
		z-index: 1000;

		#chatContainer {
			width: 100%;
			height: 100%;
			max-width: 100%;
			max-height: 100%;
			box-shadow: none;
			border-color: transparent;
			border-left: 1px solid var( --border-color-base, #a2a9b1 );
		}
	}

	.oo-ui-windowManager-modal {
		.oo-ui-processDialog.oo-ui-window-active {
			width: 50%;
		}
	}

	#back-to-top {
		right: calc( 50% + 20px );
	}
}

#chat {
	// Hidden inline in template initially to prevent flickering
	display: block !important;

	// Mobile view is not supported
	@media ( max-width: 768px ) {
		display: none;
	}
	position: fixed;
	right: @spacing-s;
	bottom: @spacing-s;
	z-index: 1200;
	scrollbar-width: thin;
	scrollbar-color: #d8d8d9 white;

	&.large {
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 9999;

		#chatContainer {
			width: 100%;
			height: 100%;
			max-width: 100%;
			max-height: 100%;
			box-shadow: none;

			.chat-header {
				align-items: center;
			}
		}

		.message {
			max-width: 100%;
			color: @color;
		}

		.message.received {
			display: flex;
			gap: @spacing-s;
			align-items: flex-start;

			&::before {
				content: '';
				display: block;
				.logo(@icon-small);
				flex-shrink: 0;
			}
		}

		.answer-processing {
			display: flex;
			gap: @spacing-s;
			align-items: center;

			&::after {
				content: '';
				display: block;
				.logo(@icon-small);
				flex-shrink: 0;
				order: -1;
			}
		}
	}

	.logo(@size) {
		width: @size;
		height: @size;
		border-radius: 50%;
		border: 5px solid;
		border-color: transparent;
		background-color: @chatbot-button-inactive;
		background-image: url( ../assets/chatbot_logo_grey.svg );
		background-repeat: no-repeat;
		background-size: calc( @size - 30px );
		background-position: center center;
		transition: background-color 1s ease;

		&.active {
			background-color: @chatbot-button-active;
			background-image: url( ../assets/chatbot_logo.svg );
			transition: background-color 1s ease;
		}

		&.attention {
			background-color: @chatbot-button-attention;
			transition: background-color 1s ease;
		}
	}

	.icon(@url, @size) {
		background-image: url( @url );
		background-size: @size;
		background-repeat: no-repeat;
		background-position: center center;
		width: @size;
		height: @size;
		background-color: transparent;
	}

	*.hidden {
		display: none !important;
	}

	*.invisible {
		visibility: hidden;
		width: 0;
		height: 0;
	}

	button#maximizeChat {
		float: right;

		.logo(@icon-large);
		margin: 0 @spacing-s 0 0;
	}

	button#chat-banner-help {
		.icon('../assets/banner_FAQ.svg', @button-size);
	}

	button#chat-banner-close {
		.icon('../assets/banner_close.svg', @button-size);
	}

	button#exportChat {
		width: @button-size-large;
		height: @button-size-large;
		background-color: @primary-color;
		border-radius: 50%;
		padding: 0;

		&::after {
			content: '';
			.icon('../assets/export.svg', @button-size-large);
			display: block;
		}

		&[ disabled ] {
			background-color: grey;
		}
	}

	button#sendMessage {
		margin: @spacing-s;
		width: 1.5rem;
	}

	div#chatContainer {
		display: flex;
		justify-content: space-between;
		position: relative;
		width: 450px;
		height: calc( 100vh ~'-' @chatbot-top-padding );
		min-height: 220px;
		background-color: #fff;
		box-shadow: -1px 1px 10px 3px rgba( 0, 0, 0, 0.2 );
		flex-direction: column;

		.chat-header {
			.header-top-row {
				z-index: 3;
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;

				.button-bar {
					flex: 1;
					text-align: right;
					display: flex;
					justify-content: flex-end;
					gap: @spacing-s;
				}
			}

			.header-bottom-row {
				z-index: 2;
				display: flex;
				align-items: center;
				transform: translateX( @icon-large/4 );
				gap: @spacing-s;

				.header-logo {
					.logo(@icon-large);
				}
			}
		}

		.document-link {
			display: block;
			margin-top: @spacing-xs;
			font-weight: normal;
			margin-left: 10px;
			margin-right: 10px;
		}

		#chatBody {
			display: flex;
			flex-direction: column;
		}

		.message {
			width: 100%;

			> div.message-container {
				display: flex;
				flex-direction: column;
				max-width: 80%;
			}

			.message-text {
				color: @chatbot-text-color;
				margin: 0;
				padding: @spacing-s;
				width: fit-content;
				max-width: 100%;
				background-color: var( --background-color-neutral, #eaecf0 );
			}

			&.received {
				align-self: flex-start;
				//display: block;

				> div.message-container {
					position: relative;
					display: grid;
					width: fit-content;
					grid-template-areas: 'message-text' 'message-buttons' 'timestamp';

					.message-text {
						grid-area: message-text;
					}

					.timestamp {
						grid-area: timestamp;
						text-align: right;
						justify-self: end;
					}

					&:hover,
					&:focus-within,
					&.active-popup {
						.message-buttons {
							opacity: 1;
						}
					}

					.message-buttons {
						grid-area: message-buttons;
						display: flex;
						opacity: 0;
						gap: @spacing-md;
					}
				}

				div.reference-list {
					margin-top: @spacing-s;

					div.reference-list-items {
						display: none;
						margin: @spacing-s 0 0 0;
						gap: @spacing-xs;
						grid-template-columns: max-content 1fr;

						a.reference-link {
							color: @primary-color;
							font-weight: normal;
						}
					}

					.expand-button {
						&::after {
							content: '';
							display: inline-block;
							margin-left: @spacing-xs;
							color: @link-color;
							.icon('../assets/chevron.svg', @spacing-s);
						}
					}

					&.expanded {
						div.reference-list-items {
							display: grid;
						}

						.expand-button::after {
							transform: rotate( 180deg );
						}
					}
				}

				&[ data-streaming ] p::after {
					content: '';
					display: inline-block;
					width: @circle-size;
					height: @circle-size;
					background-image: @circle;
					background-size: @circle-size;
					background-repeat: no-repeat;
					margin-left: @spacing-xs;
					transform: translateY( 1px );
					animation: pulse 1.65s infinite;
				}

				@keyframes pulse {
					0% {
						transform: scale( 1 );
					}

					50% {
						transform: scale( 0.75 );
					}

					100% {
						transform: scale( 1 );
					}
				}
			}

			&.chatbot-saved-message {
				.message-container {
					display: block;
				}

				.message-text {
					background-color: transparent;
					color: var( --color-success, #14876b );
					padding: 0;
				}

				.timestamp {
					display: none;
				}
			}

			&.sent {
				& > div {
					align-items: flex-end;
					float: right;

					.message-text {
						background-color: var( --background-color-interactive-subtle, #f8f9fa );
					}
				}
			}

			p {
				margin: 0;
				padding: 0;
				line-height: @line-height;
				word-break: break-word;
			}

			.timestamp {
				font-size: 0.8em;
				color: var( --color-subtle, #54595d );
				margin-top: 3px;
			}

			a {
				&.missing {
					color: var( --bs-danger );
				}
			}

			.follow-up-label {
				font-style: italic;
				color: gray;
			}
		}

		.follow-up-options {
			border-left: 2px solid @primary-color;
			padding-left: 10px;
			margin-left: 10px;
		}

		.answer-processing {
			align-self: flex-start;
			display: flex;
			gap: @spacing-s;
			width: 100%;

			&::before {
				content: '';
				height: 15px;
				flex: 35px 0 0;
				background-image: @circle, @circle, @circle;
				background-position: 0 1px, @circle-size + @spacing-xs 1px, (@circle-size + @spacing-xs) * 2 1px;
				background-size: @circle-size;
				background-repeat: no-repeat;
				order: 0;
				animation: moveDots 1.5s infinite ease-in-out;
			}

			@keyframes moveDots {
				0%,
				100% {
					background-position: 0 1px, @circle-size + @spacing-xs 1px, (@circle-size + @spacing-xs) * 2 1px;
				}

				33% {
					background-position: (@circle-size + @spacing-xs) * 2 1px, 0 1px, @circle-size + @spacing-xs 1px;
				}

				66% {
					background-position: @circle-size + @spacing-xs 1px, (@circle-size + @spacing-xs) * 2 1px, 0 1px;
				}
			}
		}

		.chat-footer {
			padding: @spacing-s;
			display: flex;
			flex-direction: column;
			gap: @spacing-s;

			.send-message-container {
				background-color: @chatbot-input-bg-color;
				width: 100%;
				display: flex;
				align-items: flex-end;
				justify-content: space-between;
				gap: @spacing-s;

				textarea#messageInput {
					color: @chatbot-text-color;
					flex: 1;
					line-height: @line-height;
					background-color: transparent;
					padding: @spacing-s 40px @spacing-s @spacing-s;
					border: none; /* stylelint-disable-line declaration-property-value-disallowed-list */
				}
			}

			#followUpsContainer {
				display: flex;
				flex-wrap: wrap;
				gap: @spacing-s;

				button {
					padding: @spacing-s;
					font-weight: bold;
					margin: 0;
				}

				&:empty {
					display: none;
				}
			}

			#errorMessageContainer {
				display: none;
				position: relative;
				background-color: @error-color-bg;
				color: @error-color-fg;
				border: 1px solid @error-color-border;
				margin: @spacing-s 0;
				padding: @spacing-s (@spacing-s + @button-size + @spacing-s) @spacing-s @spacing-s;
				min-height: @button-size;
				box-sizing: content-box;

				button#dismissError {
					position: absolute;
					.icon('../assets/close_white.svg', @button-size-small);
					right: @spacing-s;
					top: @spacing-md;
				}
			}

			.chat-disclaimers p {
				margin: 0;
				font-size: 0.8em;
			}
		}

		#restoreSessionMessage {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate( -50%, -50% );
			flex-direction: column;
			gap: @spacing-s;
			align-items: center;
			display: flex;

			@keyframes spin {
				0% {
					transform: rotate( 0deg );
				}

				100% {
					transform: rotate( 360deg );
				}
			}

			.spinner {
				width: 40px;
				height: 40px;
				border: 4px solid @primary-color;
				border-top: 4px solid transparent;
				border-radius: 50%;
				animation: spin 1s linear infinite;
			}
		}

		#loadingIndicator {
			padding-left: 24px;

			@keyframes spin {
				0% {
					transform: rotate( 0deg );
				}

				100% {
					transform: rotate( 360deg );
				}
			}

			.spinner {
				width: 30px;
				height: 30px;
				border: 4px solid @primary-color;
				border-top: 4px solid transparent;
				border-radius: 50%;
				animation: spin 1s linear infinite;
			}
		}
	}

	.chatbot-aux-panel-cnt {
		background-color: #fff;
		border-radius: 5px;
		margin-top: 10px;
		padding: 10px;

		.panel-header-cnt {
			position: relative;

			h4,
			h6 {
				font-weight: bold;
				padding: 3px 0 10px 0;
			}

			.panel-close-btn {
				position: absolute;
				right: 6px;
				top: 0;
				background: transparent;
			}
		}
	}

	.popup-chatbot-cnt {
		position: absolute;
		width: 230px;
		z-index: 50;
		margin-top: 12px;
		right: 0;

		.popup-header-cnt {
			.popup-close-btn {
				position: absolute;
				right: 6px;
				top: 0;
				background: transparent;
			}
		}

		.cdx-popover__arrow {
			left: 105px;
			top: -8px;
			transform: rotate( 45deg );
		}

		.popup-format-export-cnt {
			display: flex;
			gap: @spacing-s;
			padding: 10px 25px;
		}

		.popup-format-label {
			font-weight: bold;
		}

		.radio-btn {
			margin: 0.4em 0.4em 0.5em 0.4em;

			label {
				padding: 0 1em 0 0.2em;
			}
		}

		.popup-btn-export-cnt {
			justify-content: end;
		}
	}

	.popup-chatbot-close-cnt {
		width: 400px;

		.popup-content-close-cnt {
			text-align: left;
		}

		.cdx-popover__arrow {
			left: unset;
			right: 23px;
		}
	}

	.size-popup-btn-cnt {
		display: flex;
		justify-content: center;
	}

	.chat-banner {
		background-color: @info-color-bg;
		margin: 10px;
		margin-top: 140px;
		z-index: 1;

		.chat-banner-message {
			padding: 10px 10px 10px;
		}

		.chat-banner-buttons {
			display: inline-flex;
			float: right;

			.chat-banner-help {
				content: '?';
				height: 30px;
				width: 30px;
				background-color: transparent;
				margin: 5px;
			}

			.chat-banner-close {
				background-color: transparent;
				background-image: url( data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIj48Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiByPSI1MCIgc3R5bGU9ImZpbGw6Ymx1ZTsiIC8+PC9zdmc+ );
				background-size: @button-size;
				background-repeat: no-repeat;
				background-position: center center;
				height: 20px;
				width: 20px;
				margin: 5px;
			}
		}
	}

	button.followup-option {
		padding: 0 5px;
		margin: 2px;
		border: 1px solid #f4f4f4;
		color: black !important;
		font-weight: normal !important;
		font-size: 12px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
		text-decoration: none !important;
		background-color: transparent;
		text-align: left;

		&:hover {
			background-color: #f1f3f9;
			text-decoration: none;
		}

		&.selected {
			background-color: #f1f3f9;

			&::before {
				font-family: 'fontawesome';
				content: '\f00c';
				font-size: 10px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
				margin-right: 5px;
			}
		}
	}
}

/* Codex fixes */
.cdx-popover {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 700;
	box-sizing: border-box;
	min-width: 12rem;
	background-color: var( --background-color-base, #fff );
	border: 1px solid var( --border-color-base, #a2a9b1 );
	border-radius: 2px;
	padding: 16px;
	box-shadow: 0 4px 4px 0 var( --box-shadow-color-alpha-base, rgba( 0, 0, 0, 0.06 ) ), 0 0 8px 0 var( --box-shadow-color-alpha-base, rgba( 0, 0, 0, 0.06 ) );
}

.cdx-popover[ hidden ] {
	display: none;
}

.cdx-popover__header {
	display: flex;
	align-items: flex-start;
	flex-shrink: 0;
	gap: 8px;
	margin-bottom: 8px;
}

.cdx-popover__header__title {
	font-size: var( --font-size-medium, 1rem );
	font-weight: bold;
	line-height: var( --line-height-small, 1.375rem );
}

.cdx-popover__header__button-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: var( --line-height-small, 1.375rem );
	margin-right: -8px;
	margin-left: auto;
}

.cdx-popover__body {
	flex-grow: 1;
	flex-shrink: 1;
	font-size: var( --font-size-medium, 1rem );
	line-height: var( --line-height-small, 1.375rem );
}

.cdx-popover__footer:not( :empty ) {
	flex-shrink: 0;
	margin-top: 16px;
}

.cdx-popover__footer__actions {
	display: flex;
	gap: 12px;
}

.cdx-popover__arrow {
	position: absolute;
	width: 1rem;
	height: 1rem;
	-webkit-clip-path: polygon( 0 0, 100% 0, 0 100% );
	clip-path: polygon( 0 0, 100% 0, 0 100% );
	background-color: var( --background-color-base, #fff );
	border: 1px solid var( --border-color-base, #a2a9b1 );
	box-shadow: 0 4px 4px 0 var( --box-shadow-color-alpha-base, rgba( 0, 0, 0, 0.06 ) ), 0 0 8px 0 var( --box-shadow-color-alpha-base, rgba( 0, 0, 0, 0.06 ) );
	border-top-left-radius: 2px;
}

.cdx-docs-link {
	color: @primary-color !important;
	border-radius: 2px;
	text-decoration: none;
}

.cdx-docs-link:hover {
	color: var( --color-progressive--hover, #3056a9 );
	text-decoration: underline;
}

.cdx-docs-link:active {
	color: var( --color-progressive--active, #233566 );
	text-decoration: underline;
}

.cdx-docs-link:focus-visible {
	outline: solid 2px var( --outline-color-progressive--focus, #36c );
}

.cdx-docs-link:visited {
	color: var( --color-visited, #6a60b0 );
}

.chat-btn-icon {
	min-width: 20px;
	min-height: 20px;
	width: 1.25em;
	height: 1.25em;
	display: inline-block;
}

/** Fix for vector skin header */
body:has( #chat.large ) .mw-header {
	z-index: 0;
}

.visually-hidden {
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect( 0, 0, 0, 0 ) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

@supports (-webkit-mask-image:none) or (mask-image:none) {
	.cdx-css-icon--minimize {
		-webkit-mask-image: url( ../assets/minimize.svg );
		mask-image: url( ../assets/minimize.svg );
		transition-property: background-color;
		transition-duration: 100ms;
	}

	.cdx-css-icon--resize {
		-webkit-mask-image: url( ../assets/resize_small.svg );
		mask-image: url( ../assets/resize_small.svg );
		transition-property: background-color;
		transition-duration: 100ms;
	}

	.cdx-css-icon--resize-small {
		-webkit-mask-image: url( ../assets/resize_small.svg );
		mask-image: url( ../assets/resize_small.svg );
		transition-property: background-color;
		transition-duration: 100ms;
	}

	.small .cdx-css-icon--resize {
		-webkit-mask-image: url( ../assets/resize_small.svg );
		mask-image: url( ../assets/resize_small.svg );
		transition-property: background-color;
		transition-duration: 100ms;
	}

	.cdx-css-icon--resize-medium {
		-webkit-mask-image: url( ../assets/resize_half.svg );
		mask-image: url( ../assets/resize_half.svg );
		transition-property: background-color;
		transition-duration: 100ms;
	}

	.medium .cdx-css-icon--resize {
		-webkit-mask-image: url( ../assets/resize_half.svg );
		mask-image: url( ../assets/resize_half.svg );
		transition-property: background-color;
		transition-duration: 100ms;
	}

	.cdx-css-icon--resize-large {
		-webkit-mask-image: url( ../assets/resize_large.svg );
		mask-image: url( ../assets/resize_large.svg );
		transition-property: background-color;
		transition-duration: 100ms;
	}

	.large .cdx-css-icon--resize {
		-webkit-mask-image: url( ../assets/resize_large.svg );
		mask-image: url( ../assets/resize_large.svg );
		transition-property: background-color;
		transition-duration: 100ms;
	}

	.cdx-css-icon--send {
		-webkit-mask-image: url( ../assets/send.svg );
		mask-image: url( ../assets/send.svg );
		transition-property: background-color;
		transition-duration: 100ms;
		mask-size: 20px;
	}

	.cdx-css-icon--copy {
		-webkit-mask-image: url( ../assets/copy.svg );
		mask-image: url( ../assets/copy.svg );
		transition-property: background-color;
		transition-duration: 100ms;
		mask-position: center;
	}

	.cdx-css-icon--savepage {
		-webkit-mask-image: url( ../assets/savepage.svg );
		mask-image: url( ../assets/savepage.svg );
		transition-property: background-color;
		transition-duration: 100ms;
		mask-position: center;
	}
}
